<div class="sh-julia-pagination">
    {% capture shop_url %}{{ shop.url }}/collections/{{ collection.handle }}{% endcapture %}
    {%- if tags_url -%}
        {% capture paginate_param_tags %}constraint={{ tags_url }}{% endcapture %}
    {%- endif -%}
    {%- if sort_by != collection.default_sort_by -%}
        {% capture paginate_param_sort_by %}&sort_by={{ sort_by }}{% endcapture %}
    {%- endif -%}
    {%- if view_length != default_view_length -%}
        {% capture paginate_param_view %}&view={{ view_length }}{% endcapture %}
    {%- endif -%}
    {% capture paginate_url %}{{ shop_url }}?{{ paginate_param_tags }}{% endcapture %}        
    {%- if current_page > 1 -%}
    {%- assign value = current_page | minus: 1 -%}
    <div>
      <a href="{{ paginate_url }}{% if paginate_param_tags.size > 0 %}+{% endif %}page={{ value }}{{ paginate_param_sort_by }}{{ paginate_param_view }}" data-value="{{ value }}" class="">
        <span class="sh-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path fill="currentColor" d="M238.475 475.535l7.071-7.07c4.686-4.686 4.686-12.284 0-16.971L50.053 256 245.546 60.506c4.686-4.686 4.686-12.284 0-16.971l-7.071-7.07c-4.686-4.686-12.284-4.686-16.97 0L10.454 247.515c-4.686 4.686-4.686 12.284 0 16.971l211.051 211.05c4.686 4.686 12.284 4.686 16.97-.001z" class=""></path>
          </svg>
        </span>
      </a>
    </div>
    {%- endif -%}
    {%- assign delimiter_from = current_page | minus: 3 -%}
    {%- assign delimiter_to = current_page | plus: 3 -%}
    {%- assign limit_from = 1 -%}
    {%- assign limit_to = filter_pages -%}
    {%- if delimiter_from > 1 -%}
    {%- assign limit_from = delimiter_from | plus: 1 -%}
    {%- endif -%}
    {%- if delimiter_to < filter_pages -%}
    {%- assign limit_to = delimiter_to | minus: 1 -%}
    {%- endif -%}
    {%- for page in (1..filter_pages) -%}
    {%- if forloop.index > 1 and forloop.index < filter_pages -%}
    {% if forloop.index < limit_from or forloop.index > limit_to %}
    {%- if forloop.index == delimiter_from or forloop.index == delimiter_to -%}
    <div>
      ...
  	</div>
    {%- endif -%}
    {%- continue -%}
    {%- endif -%}
    {%- endif -%}
    {%- if page != current_page -%}
    <div>
      <a href="{{ paginate_url }}{% if page != 1 %}{% if paginate_param_tags.size > 0 %}+{% endif %}page={{ page }}{{ paginate_param_sort_by }}{{ paginate_param_view }}{% endif %}" data-value="{{ page }}">{{ page }}</a>
    </div>
    {%- else -%}
    <div>      
      <span class="{% unless page == '&hellip;' %}sh-current{% endunless %}">{{ page }}</span>
    </div>
    {%- endif -%}
    {%- endfor -%}
    {%- if current_page < filter_pages -%}
    {%- assign value = current_page | plus: 1 -%}
    <div>
      <a href="{{ paginate_url }}{% if paginate_param_tags.size > 0 %}+{% endif %}page={{ value }}{{ paginate_param_sort_by }}{{ paginate_param_view }}" data-value="{{ value }}" class="">
        <span class="sh-right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path fill="currentColor" d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path>
          </svg>
        </span>                
      </a>
    </div>
    {%- endif -%}        
</div>