{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'title' -%}
      <h1 class="sh-title">
        {{current_product.title}}
      </h1>  
    {%- when 'rating' -%}
            {%- if current_product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = current_product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="sh-rating">
                <span class="sh-rating-star" style="--rating: {{ current_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ current_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">{% render 'sh-julia-icon' with '221' %}</span>
                <span class="sh-rating-text">{{ current_product.metafields.reviews.rating.value }}/{{ current_product.metafields.reviews.rating.value.scale_max }}</span>
                <span class="sh-rating-count"> ({{ current_product.metafields.reviews.rating_count }})</span>
              </div>
            {%- endif -%}
    {%- when 'price' -%}
      <div class="sh-price-wrapper">
        <span class="sh-price">
          {% if variant.compare_at_price > variant.price %}
          <span class="sh-price-compare">{{ variant.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}            
          <span class="sh-price-varies">
            {{ variant.price | money_without_trailing_zeros }}
          </span>
        </span>
        {%- if variant.available and variant.unit_price_measurement -%}
        <span class="sh-unit-price">
          {{ variant.unit_price | money }}/{%- if variant.unit_price_measurement.reference_value != 1 -%} {{- variant.unit_price_measurement.reference_value -}} {%- endif -%} {{ variant.unit_price_measurement.reference_unit }}
        </span>
        {%- endif -%}
      </div>
    {%- when 'sku' -%}
      <div class="sh-dl">
        <div class="sh-dt">
          SKU:
        </div>
        <div class="sh-dd">
          {{variant.sku}}
        </div>
      </div>
    {%- when 'metafield' -%}
      <div class="sh-dl">
        <div class="sh-dt">
          {{ block.settings.name }}:
        </div>
        <div class="sh-dd">
          {{ current_product.metafields[block.settings.namespace][block.settings.key] }}
        </div>
      </div>
    {%- when 'payment_terms' -%}
	  {%- assign product_form_id = 'payment-terms-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        
		{{ form | payment_terms }}
      {% endform %}        	  
	{%- when 'options' -%}
      {% unless current_product.options.size == 1 and current_product.variants[0].title == 'Default Title' %}
      <div class="sh-product-options">
        {% if block.settings.variants_group == 'together' %}
        <div class="sh-together">
          <select class="" data-type="{{block.settings.variants_group}}" data-index="id">
            {% for vrnt in current_product.variants %}                                
            <option 
                    {% if vrnt.id == variant.id %}
                    selected
                    {% endif %}
                    value="{{vrnt.id}}" data-featured-media="{{vrnt.featured_media.id}}">
              {{ vrnt.title }} - 
              {% if vrnt.available %}
              {{ vrnt.price | money_with_currency }}
              {% else %}
              {{section.settings.sold_out_string}}
              {% endif %}
            </option>                                
            {% endfor %}
          </select>
        </div>
        {% else %}
        <div class="sh-separated">
          {% for option in current_product.options_with_values %}
          <div class="sh-option">                                
            <label>{{option.name}}</label>
            <select class="" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
              <option value="{{ value | escape }}">{{value}}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %} 
        </div>
        {% endif %}
      </div>
      {% endunless %}
    {%- when 'buttons' -%}
      {% form "product", current_product %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">  
        <div class="sh-buttons">
          <div class="sh-quantity-wrapper">
            <a class="sh-quantity-minus">
              <span>
                <span class="sh-quantity-icon-minus">
                  <svg fill="currentColor" height="12px" viewBox="0 0 12 12"><path d="M11.5,7h-11C0.2,7,0,6.8,0,6.5v-1C0,5.2,0.2,5,0.5,5h11C11.8,5,12,5.2,12,5.5v1C12,6.8,11.8,7,11.5,7z"></path></svg>
                </span>
              </span>
            </a>
            <input type="text" name="quantity" value="1" min="1" class="sh-qty"/>
            <a class="sh-quantity-plus">
              <span>
                <span class="sh-quantity-icon-plus">
                  <svg fill="currentColor" height="12px" viewBox="0 0 12 12"><path d="M12,5.5v1C12,6.8,11.8,7,11.5,7H7v4.5C7,11.8,6.8,12,6.5,12h-1C5.2,12,5,11.8,5,11.5V7H0.5C0.2,7,0,6.8,0,6.5 v-1C0,5.2,0.2,5,0.5,5H5V0.5C5,0.2,5.2,0,5.5,0h1C6.8,0,7,0.2,7,0.5V5h4.5C11.8,5,12,5.2,12,5.5z" ></path></svg>
                </span>
              </span>
            </a>
          </div>

          <button type="submit" class="sh-add-to-cart {% if section.settings.redirect %}sh-redirect-to-cart{% endif %} {% if current_product.available %}sh-available{% endif %}" data-product-id="{{ variant.id }}" data-quantity="1" data-add-to-cart="{{ section.settings.add_cart_string }}" data-sold-out="{{ section.settings.sold_out_string }}">{% if current_product.available %}{{ section.settings.add_cart_string }}{% else %}{{ section.settings.sold_out_string }}{% endif %}</button>
          <div class="sh-add-to-wishlist" data-product-handle="{{ current_product.handle }}">      
            <span class="sh-add">
              <svg fill="currentColor" viewBox="0 0 24 24"><path d="M16.243 5.843c.801 0 1.555.312 2.121.879a3.003 3.003 0 0 1 0 4.243l-2.121 2.121-2.121 2.121L12 17.328l-2.121-2.121-2.121-2.121-2.121-2.121a2.98 2.98 0 0 1-.879-2.121c0-.801.312-1.555.879-2.121a2.98 2.98 0 0 1 2.121-.879c.801 0 1.555.312 2.121.879l.707.707L12 8.843l1.414-1.414.707-.707a2.98 2.98 0 0 1 2.122-.879m0-2c-1.28 0-2.559.488-3.536 1.464L12 6.015l-.707-.707c-.976-.976-2.256-1.464-3.536-1.464s-2.559.487-3.535 1.464a5 5 0 0 0 0 7.071L6.343 14.5l2.121 2.121L12 20.157l3.536-3.536 2.121-2.121 2.121-2.121a5 5 0 0 0-3.535-8.536z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg>
            </span>
            <span class="sh-adding">
            </span>
            <span class="sh-added">
              <svg fill="currentColor" viewBox="0 0 24 24"><path d="M16.243 3.843c-1.28 0-2.559.488-3.536 1.464L12 6.015l-.707-.707c-.976-.976-2.256-1.464-3.536-1.464s-2.559.487-3.535 1.464a5 5 0 0 0 0 7.071L6.343 14.5l2.121 2.121L12 20.157l3.536-3.536 2.121-2.121 2.121-2.121a5 5 0 0 0-3.535-8.536z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg>
            </span>
          </div>  
        </div>
      {% endform %}
	{%- when 'dynamic_checkout' -%}
	  {%- assign product_form_id = 'payment-button-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">  
		{{ form | payment_button }}
      {% endform %} 
    {%- when 'availability' -%}
      <div class="sh-product-availability" data-store-availability-container data-product-title="" data-has-only-default-variant="" data-base-url="">
      </div>
	{%- when 'description' -%}
      <div class="sh-content">
        {% if block.settings.excerpt_words != 0 %}
        {{ current_product.description | strip_html | truncatewords: block.settings.excerpt_words, block.settings.excerpt_ellipsis }}
        {% else %}
        {{ current_product.description }}
        {% endif %}
      </div>
	{%- when 'visitors' -%}
		<div class="sh-visitors" data-min="{{ block.settings.min }}" data-max="{{ block.settings.max }}" data-duration="{{ block.settings.duration }}">
			<span class="sh-icon">{% render 'sh-julia-icon' with '154' %}</span>
          	<span class="sh-value"></span>
          	<span class="sh-text">{{ block.settings.text }}</span>
		</div>
	{%- when 'share' -%}
	  {% render 'sh-julia-social-sharing', share_title: current_product.title, share_permalink: current_product.url, share_image: current_product.featured_media %}
    {%- when '@app' -%}
      {% render block %}
    {%- when 'custom_liquid' -%}
      {{ block.settings.custom_liquid }}
  {%- endcase -%}
{%- endfor -%}