{% layout none %}

<div class="sh sh-cart-popup">
  {% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <div class="sh-header">
      <h1 class="sh-title">{{ 'cart.general.title' | t }}</h1>
    </div>  
    <div class="sh-cart-list">
      {% for item in cart.items %}
      <div class="sh-cart-row">
        <div class="sh-cart-image-wrapper">
          <img class="sh-cart-image" src="{{ item | img_url: '70x70', scale: 2 }}" alt="{{ item.title | escape }}" data-item-url="{{ item.url }}">
        </div>
        <div class="sh-cart-data">
          <div class="sh-cart-meta">
            <div class="sh-list-view-item-title">
              <a href="{{ item.url }}" class="sh-cart-product-title">
                {{ item.product.title }}
                {% if item.quantity > 1 %}
                <span>(x{{ item.quantity }})</span>
                {% endif %}
              </a>
            </div>

            {% unless item.variant.title contains 'Default' %}
            <div class="sh-cart-meta-text">
              {% for option in item.product.options %}
              <span>{{ item.variant.options[forloop.index0] }}</span>
              {% endfor %}
            </div>
            {% endunless %}

            {% assign property_size = item.properties | size %}
            {% if property_size > 0 %}
            <div class="sh-cart-meta-text">
              {% for p in item.properties %}
              {% unless p.last == blank %}
              {{ p.first }}:
              {% if p.last contains '/uploads/' %}
              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
              {% else %}
              {{ p.last }}
              {% endif %}
              {% endunless %}
              {% endfor %}
            </div>
            {% endif %}
            {% if item.selling_plan_allocation %}
            <div class="sh-cart-meta-text">
              {{ item.selling_plan_allocation.selling_plan.name }}
            </div>
            {% endif %}                          
          </div>
          <div class="sh-cart-price-wrapper">
            {% if item.original_line_price != item.final_line_price %}
            <div class="sh-dl">
              <div class="sh-dd">
                <span class="sh-original-line-price">{{ item.original_line_price | money }}</span>
              </div>
              <div class="sh-dd">
                <span class="sh-final-line-price">{{ item.final_line_price | money }}</span>
                {%- if item.variant.available and item.variant.unit_price_measurement -%}
                <span class="sh-unit-price">
                  {{ item.variant.unit_price | money }}/{%- if item.variant.unit_price_measurement.reference_value != 1 -%} {{- item.variant.unit_price_measurement.reference_value -}} {%- endif -%} {{ item.variant.unit_price_measurement.reference_unit }}
                </span>
                {%- endif -%}
              </div>
            </div>
            {% else %}
            	{{ item.original_line_price | money }}
                {%- if item.variant.available and item.variant.unit_price_measurement -%}
                <span class="sh-unit-price">
                  {{ item.variant.unit_price | money }}/{%- if item.variant.unit_price_measurement.reference_value != 1 -%} {{- item.variant.unit_price_measurement.reference_value -}} {%- endif -%} {{ item.variant.unit_price_measurement.reference_unit }}
                </span>
                {%- endif -%}
            {% endif %}
          </div>
          <div class="sh-cart-remove">
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="" aria-label="{{ 'cart.general.remove' | t }} {{ item.product.title }}">{{ 'cart.general.remove' | t }}</a>
          </div>        
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="sh-cart-footer">
      <div class="sh-cart-result">
        {% if cart.cart_level_discount_applications != blank %}
        <div class="sh-order-discount-card-wrapper">
          {% for discount_application in cart.cart_level_discount_applications %}
          <span class="sh-order-discount-title">
            <span class="sh-icon">{% include 'sh-julia-icon' with '137' %}</span><span class="sh-visually-hidden">{{ 'customer.order.discount' | t }}:</span>{{- discount_application.title -}}
          </span>
          <span class="sh-order-discount-cart-total">-{{ discount_application.total_allocated_amount | money }}</span>
          {% endfor %}
        </div>
        {% endif %}

        <div class="sh-cart-subtotal">
          <span class="sh-cart-subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="sh-cart-subtotal-price">{{ cart.total_price | money }}</span>
        </div>

        {% capture taxes_shipping_checkout %}
        {% if shop.taxes_included and shop.shipping_policy.body != blank %}
        {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {% elsif shop.taxes_included %}
        {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
        {% elsif shop.shipping_policy.body != blank %}
        {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
        {% else %}
        {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
        {% endif %}
        {% endcapture %}
        <div class="sh-cart-shipping">{{ taxes_shipping_checkout }}</div>
        <div class="sh-cart-submit-controls">
          <a href="/cart" class="sh-btn">{{ 'products.product.view_cart' | t }}</a>
          <input type="submit" name="checkout"
                 class="sh-btn"
                 value="{{ 'cart.general.checkout' | t }}">
        </div>

        {% if additional_checkout_buttons %}
        <div class="sh-additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}
      </div>
    </div>
  </form>
  {% else %}
  <div class="">    
    <div class="sh-header">
      <h1>{{ 'cart.general.title' | t }}</h1>
    </div>  
    <div class="sh-cart-empty-message">{{ 'cart.general.empty' | t }}</div>
    <div class="sh-cookie-message" style="display: none">
      <div>{{ 'cart.general.cookies_required' | t }}</div>
    </div>
  </div>
  {% endif %}
</div>
